/* img{
    width: 500px;
} */
*{
    pointer-events: none;
}
body{
    font-family:Arial, Helvetica, sans-serif
}

.header{
   background-color: #1f2937;
   color: #f9faf8;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding: 0 10px;
}

ul{
    
    list-style: none;
    display: flex;
    gap: 16px;
    margin:20px 8px;
    padding: 8px 16px;
    
    
}
a, a:hover, a:active, a:visited{
    text-decoration: none;
    color: #E5e7eb;
    font-size: 18px;
    
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    padding: 16px;
    margin: 20px;
}

.container{
    background-color: #1f2937;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.container .title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 16px;
    padding-right: 8px;
}

.container .text{
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    border: 1px solid #3882F6;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
button:active{
    background-color: darkmagenta;
}

#header-img img{
   width: 400px;
   height: 200px;
   display:flex;
   flex-shrink: 1;

}

.category img{
    width: 150px;
    height:150px;
    border: 3px solid #3882F6;
    border-radius: 50%;
    
}
#title{
    margin: 20px 0;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
   
}

.container2{
    display:flex;
    
    flex:1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px;
    text-align: center;
}

.container3{
    background-color: #e5e7eb;
   padding: 100px 100px;
   margin-top: 100px;
 

}
.container3 .quote{
    font-size: 36px;
    
    color: #1f2937;
    font-style: italic;
}

.container3 .author{
    margin-top: 50px;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.container4{

    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 10px;
    display: flex;
    padding: 30px 72px;
    margin: 100px;
    justify-content: space-between;
    
}
.container4 button{
    border:2px solid white;
}
.container4 .title{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
}

.container4 .text{
    color: #E5e7eb;
    font-size: 16px;
    
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
    text-align: center;
}
